@font-face{
    font-family: MovieFont;
    src:url('../fonts/regular.woff2');
    font-weight: 400;
}
@font-face{
    font-family: MovieFont;
    src:url('../fonts/medium.woff2');
    font-weight: 600;
}

$yellow:#f5c646;

html,body{
    height: 100%;
    width: 100%;
    font-family: MovieFont;
}
body{
    background-color: black;
    font-weight: lighter;
}
button:disabled{
    cursor: default !important;
}
.app{
    padding-top: 20px;
    padding-bottom: 50px;
    header{
        text-align: center;
        img{
            width: 100px;
        }
    }
    .movie-search{
        margin-top: 10px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .header{
        margin: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navigation ul{
            padding-left: 0;
            color: white;
            list-style-type: none;
            font-size: 18px;
            li{
                width: 150px;
                display: inline-block;
                text-align: center;
                padding: 10px 0;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover{
                    color: $yellow;
                }
            }
            .active{
                background-color: $yellow;
                color: black;
                border-radius: 4px;
                &:hover{
                    color: black;
                }
            }
        }

        .form-wrapper{
            color: white;
            form{
                display: flex;
                align-items: center;
            }
            .sort-input-wrapper{
                margin-right: 20px;
                letter-spacing: 1px;
                
                span:first-child{
                    padding: 0;
                }
                span.sort-handler{
                    cursor: pointer;
                    &:hover{
                        color:$yellow;
                    }
                }
                span.sort-handler.active{
                    color: $yellow;
                }
                span{
                    text-align: center;
                    display: inline-block;
                    padding: 0px 10px;
                }
                span:nth-child(2){
                    border-right: 1px solid white;

                }
            }
            .search-input-wrapper{
                display: flex;
                align-items: center;
                border: 1px solid white;
                padding: 8px 10px;
                img{
                    height: 15px;
                    margin-right: 10px;
                }
                input{
                    border: none;
                    background-color: transparent;
                    font-size: 16px;
                    width: 200px;
                    color: white;
                    &:focus{
                        outline: 0;
                    }
                    &::placeholder{
                        color: white;
                        opacity: 0.4;
                        letter-spacing: 1px;
                        font-family: MovieFont !important;
                        
                    }
                }
            }
        }
    }
    .list-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .movie-item{
            margin: 10px 10px;
            transition: all 0.5s ease;
            position: relative;
            z-index: 0;
            flex-basis: calc(20% - 20px);
            img{
                max-width: 100%;
            }
            &:hover{
                transform:scale(1.3);
                z-index: 1;

                .content-wrapper{
                    opacity: 1;
                    border: 1px solid white;
                }
                .cta-wrapper{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    button{
                        background-color: rgba($yellow,0.7);
                        color: black;
                        border: none;
                        border-radius: 4px;
                        padding: 8px 20px;
                        font-size: 16px;
                        cursor: pointer;
                        transition: ease 0.2s;
                        &:hover{
                            background-color: rgba($yellow,1);
                        }
                    }
                }
            }
            .cta-wrapper{
                display: none;
            }
            .content-wrapper{
                opacity: 0.5;
                height: 50px;
                position: absolute;
                bottom: 0;
                background-color: black;
                width: calc(100% - 12px);
                color: white;
                transition:all 0.5s linear;
                padding: 5px;
                font-size: 12px;
                box-shadow: 10px 0px 10px rgba(0,0,0,0.5);
                font-weight: lighter;
                
            }
        }
    }


    @media (max-width:400px){
        .header{
            flex-direction: column;

            .navigation{
                width: 100%;
                ul{
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
                li{
                    width: auto !important;
                    text-align: center;
                    flex-basis: 50%;
                    transition-duration: 0.2s !important;
                }
            }
            .form-wrapper{
                form{
                    flex-direction: column;
                    > div{
                        margin-bottom: 20px;
                    }
                }
            }
            
        }
        .movie-search{
            max-width: none;
        }
        .list-wrapper{
                .movie-item{
                    flex-basis: calc(50% - 20px) !important;
                }
            }
    }
}